<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="File" fileName="/var/log/ArchiSteamFarm/asf.log" deleteOldFileOnStartup="false" />
    <target xsi:type="ColoredConsole" name="ColoredConsole" layout="${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="File" />
    <logger name="*" minlevel="Warn" writeTo="ColoredConsole" />
  </rules>
</nlog>
