[Unit]
Description=Lidarr Daemon
After=network.target

[Service]
User=lidarr
Group=lidarr

Type=simple
ExecStart=/usr/bin/mono /opt/lidarr/Lidarr.exe --nobrowser
TimeoutStopSec=20
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
