[Unit]
After=network.target
Before=shutdown.target
Description=Minecraft Bedrock Edition server

[Service]
ExecStart=/bin/bash -c "LD_LIBRARY_PATH=. ./bedrock_server"
TimeoutStopSec=20
Type=forking
WorkingDirectory=/opt/minecraft/server/
User=minecraft
Group=minecraft

[Install]
WantedBy=multi-user.target
