[Unit]
After=network.target
Before=shutdown.target
Description=Minecraft Bedrock Edition server

[Service]
ExecStart=/bin/sh -c "./bedrock_server"
TimeoutStopSec=20
Type=simple
WorkingDirectory=/opt/minecraft/server/
#PrivateUsers=true
#ProtectHome=true
#ProtectControlGroups=true
#ProtectKernelModules=true
#ProtectKernelTunables=true
#ProtectSystem=full
User=minecraft
Group=minecraft
#WorkingDirectory=/opt/MC/%i

[Install]
WantedBy=multi-user.target
