[Unit]
Description=Sonarr Daemon
Wants=network-online.target
After=network.target network-online.target

[Service]
User=sonarr
Group=sonarr

StandardOutput=null

Type=simple
ExecStart=/usr/bin/mono /opt/NzbDrone/NzbDrone.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
