[Unit]
Description=Calibre eBook Server
Documentation=https://www.digitalocean.com/community/tutorials/how-to-create-a-calibre-ebook-server-on-ubuntu-14-04
After=network.target network-online.target

[Service]
Type=forking
User=calibre
Group=calibre
PIDFile=/opt/calibre/.config/calibre/calibre.pid
RuntimeDirectory=calibre
RuntimeDirectoryMode=0750
ExecStart=/opt/calibre/calibre-server --daemonize --port=8080 --listen-on=192.168.0.199	--pidfile=/opt/calibre/.config/calibre/calibre.pid --log=/var/log/mediaservers/calibre/calibre.log "/media/eBooks/"

[Install]
WantedBy=multi-user.target 
